  <ul class="list-unstyled">
  
 
  <% @likes.each do |like| %>

    <li class="media"><img class="mr-2 rounded" src="<%= gravatar_url(@user, { size: 50 } )%>" alt="">
      <div>
        <%= like.user.name %>
        <p><%= like.content %></p>
      </div>
    </li>
  <% end %>

  
  </ul>